<div class="container">
	<form role="form" id="searchform" action="#">
		<div>
			<input type="text" placeholder="magnet link, imdb id, search term" name="query">
			<button type="submit">Search</button>
		</div>
	</form>
</div>